@font-face {
    font-family: Barlow;
    src: url('../resources/fonts/Barlow-Regular.ttf');
}

* {
    font-family: Barlow, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("../resources/img/background.jpg");
}

.title {
    font-size: 22px;
}

#stars {
    z-index: -1000;
}

a {
    color: deeppink;
}

a:hover {
    text-decoration: none;
    color: deeppink;
}

h1 {
    padding-top: 15px;
    padding-bottom: 5px;
}

.pink {
    color: deeppink;
    z-index: 1000;
}

.blue {
    color: royalblue;
}

.my-heading {
    font-size: 50px;
}

.main-container {
    font-size: 20px;
    background-color: black;
    margin-bottom: 100px;
    width: 75%;
    padding: 20px 20px 30px 20px;
}

.display-none {
    display: none;
}

.my-card {
    height: 100%;
    margin: 20px 12% 50px 12%;
}

.my-card h3 {
    font-size: 30px;
    font-weight: bold;
}

.pick-date {
    padding: 10px 20px 30px 20px;
}

.pick-date input {
    background-color: #212020;
    border: none;
    color: white;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.pick-date-container > span {
    font-size: 22px;
    font-weight: bold;
}

.button-container button {
    font-size: 22px;
    font-weight: bold;
}

.my-nav {
    margin: 10px 40px;
}

.my-nav a {
    color: deeppink;
    cursor: pointer;
}

.my-nav:hover {
    animation: pulse;
    animation-duration: 1s;
}

.my-nav span {
    font-weight: bold;
}

#myNavPlayGame, #myNavLearning {
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
}

#myNavPlayGame {
    background-image: url("../resources/img/car.jpg");
}

#myNavLearning {
    background-image: url("../resources/img/learning.jpg");
}

@media only screen and (max-width: 1000px) {
    .my-nav-container {
        display: flex;
        flex-direction: column;
    }

    .my-nav {
        width: 302px;
        height: 302px;
        align-self: center;
    }
}

#stars {
    position: absolute;
}

.canvas-space-game {
    z-index: -20;
}
